body{
    color:white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
}

.chamada{
    background: rgb(128 188 241);
    padding-bottom: 80px;
    padding-top: 80;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 25px;
}
img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img{
    opacity: 0.5;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solide blueviolet;
}